<div *ngIf="book">
<form #form="ngForm" (ngSubmit)="save(form.value)" >
  <input type="text" [(ngModel)]="book.title" name="title" #title="ngModel" required>
  <input type="text" [(ngModel)]="book.abstract" name="abstract" #abstract="ngModel" />
  <input type="text" [(ngModel)]="book.author" name="author" #author="ngModel">
    <div [hidden]="!title.errors?.required ||  title.pristine">
        Title is required
        </div>
        <button type="submit" [disabled]="!form.valid">
            Submit
            </button>
        
</form>
</div>